html,
head,
body,
#main-container {
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#main-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

nav {
  padding: 1rem;
  border-bottom: 1px solid #000;
  display: flex;
}

.nav-links {
  flex-grow: 1;
  justify-content: end;
  display: flex;
}

.nav-link {
  display: inline-block;
  font-size: .9rem;
}

#content-container {
  flex-grow: 1;
  display: flex;
  min-height: 0;
}

#sidebar {
  width: 348px;
  padding: 1rem;
  font-size: 0.9rem;
  overflow-y: scroll;
  box-sizing: border-box;
}

#map {
  height: 100%;
  flex-grow: 1;
}

#legend {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.5;
}

#legend .legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#legend .legend-item div {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 3px;
}

#legend .legend-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.title {
  font-weight: 600;
}

@media only screen and (max-width: 800px) {
  #content-container {
    flex-direction: column-reverse;
  }

  #map {
    height: 60%;
    flex-shrink: 0;
  }

  #sidebar {
    width: 100%;
  }
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 200px; /* or the same width as your sidebar */
  right: 0;
  width: auto;
  margin-left: 200px; /* or the same width as your sidebar */
}

.popup-content {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
  text-align: center;
}
